*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 600px;
    width: 1089px;
    border: 1px solid black;
    margin: 0 auto;
}

header{
    height: 200px;
    background-color: aqua;
}
.content{
    position: relative;
}
.nav{
    width: 200px;
    height: 398px;
    background-color: burlywood;
    margin-right: 10px;
    float: left;
}

.section{
    position: absolute;
    top:10px;
    left:210px;
    background-color: bisque;
    width: 839px;
    height: 380px;
    margin-left: 10px;
}

.section1{
    background-color: blue;
    height: 50%;
}
.section2{
    background-color: darkkhaki;
    height: 50%;
}